html {
    scroll-behavior: smooth ;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: gray;
    overflow-x: hidden;
    margin: 0;
}

button {
    border: none;
    background: none;
}

.recall {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.recall button {
    border: none;
    background: none;
    background-image: url("https://static.wikia.nocookie.net/leagueoflegends/images/4/43/Recall.png/");
    background-size: cover;
    border-radius: 100%;
    width: 4vw;
    height: 4vw;
    transition: .2s;
}

.recall button:hover {
    transform: scale(0.9);
}

.champ-names {
    display: none;
    background-color: gray;
    position: absolute;
    width: 80vw;
    height: 30vh;
    overflow: auto;
    margin-top: 10px;
    box-shadow: 1px 1px 8px -2px;
}

.search-icon {
    height: 5vh;
}

.champ-name {
    color: black;
    display: none;
    width: 100%;
    height: 6vh;
    background-color: white;
    border: none;
}

.champ-name:hover {
    background-color: lightblue;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
::-webkit-scrollbar-track {
border: 1px solid rgb(120, 120, 120);
background-color: white;
}

::-webkit-scrollbar-thumb {
background: rgb(123, 206, 241);  
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #50cbf4;  
}

.random-match {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: hsl(192, 65%, 65%);
    color: white;
    border: none;
    transition: 0.1s;
}

.random-match:hover {
    background-color: hsl(192, 65%, 45%);
    color: rgb(185, 185, 185);
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 60%;
    height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

/* match.html stuff */
.blue-result,
.red-result {
    position: absolute;
    width: 10vw;
}

.blue-result {
    bottom: 15%;
    left: 32%;
}

.red-result {
    top: 15%;
    right: 31%;
}

.no-side {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summoners-rift-map {
    height: 80vh;
    border-radius: 15px;
    box-shadow: 1px 1px 8px -2px;
}

.baron {
    position: absolute;
    top: 30%;
    left: 43.5%;
}

.dragon {
    position: absolute;
    top: 61%;
    right: 41%;
}

.top-minions {
    position: absolute;
    top: 21%;
    left: 37%;
}

.mid-minions {
    position: absolute;
    top: 46%;
    left: 49%;
}

.bot-minions {
    position: absolute;
    top: 72%;
    right: 33%;
}

.dragon,
.bot-minions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.baron-icon,
.dragon-icon,
.minion-icon {
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    transition: 0.2s;
}

.baron-icon:hover,
.dragon-icon:hover,
.minion-icon:hover {
    transform: scale(1.1);
}

.baron-icon {
    box-shadow: 1px 1px 8px -2px rgb(253, 40, 242);
}

.dragon-icon {
    box-shadow: 1px 1px 8px -2px rgb(238, 63, 63);
}

.baron-kills,
.dragon-kills,
.top-minion-kills,
.mid-minion-kills,
.bot-minion-kills {
    display: none;
}

.kill-container {
    background-color: rgb(49, 49, 49);
    padding: 2px 3px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px -2px;
}

.blue {
    color: rgb(153, 241, 241);
}

.red {
    color: rgb(247, 112, 89);
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.8)),
    url("https://images.contentstack.io/v3/assets/blt370612131b6e0756/bltd897c9a5cef63006/5f9367dacb9eba781f0846fc/LoL_WR_KV_Banner_1920x1080.jpg");
    background-size: cover;
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    padding: 0 4vw;
    height: 100vh;
}

.red.side {
    background: linear-gradient(rgba(115, 58, 58, 0.4), rgba(115, 58, 58, 0.4));
}

.blue.side {
    background: linear-gradient(rgba(58, 58, 115, 0.4), rgba(58, 58, 115, 0.4));
}

.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    width: 6vw;
}

.position-name {
    font-weight: 500;
    text-shadow: 1px 1px 1px rgb(166, 166, 166);
    letter-spacing: 2px;
    transition: 0.2s;
    color:rgb(153, 241, 241);
}

.red .position-name {
    color: rgb(247, 112, 89);
}

.champion_icons,
.info-icon {
    width: 6vw;
    border: 2px solid rgb(188, 188, 188);
    border-radius: 100%;
    box-shadow: 1px 1px 10px -4px;
    transition: 0.2s;
}

@keyframes bulging_icon {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.player .champion_icons:hover {
    animation: bulging_icon 1.5s infinite;
    cursor: pointer;
    border-color: rgb(153, 241, 241);
}

.red .champion_icons:hover {
    border-color: rgb(247, 112, 89);
}

.player .champion_icons:hover + .username {
    color: rgb(153, 241, 241);
}

.red .champion_icons:hover + .username {
    color: rgb(247, 112, 89);
}

.active .champion_icons {
    border-color: rgb(153, 241, 241);
}

.active .champion_icons + .username {
    color: rgb(153, 241, 241);
}

.red .active .champion_icons {
    border-color: rgb(247, 112, 89);
}

.red .active .champion_icons + .username {
    color: rgb(247, 112, 89);
}

.username, .champion-name {
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(166, 166, 166);
    letter-spacing: 2px;
    transition: 0.2s;
}

/* player-data stuff */
.player-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4vh 2vw;
    background-color: rgb(42, 42, 42);
}

.player-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}

.player-top .champion_icons {
    width: 8vw;
    border: none;
    border-radius: 10px;
    /* box-shadow: 1px 1px 10px -4px; */
    box-shadow: none;
    border: solid 2px rgba(188, 188, 188, 0);
}

.champion_icons:hover {
    animation: none;
    cursor: default;
    border: solid 2px rgb(188, 188, 188);
    cursor: pointer;
}

.kda-box {
    display: flex;
    gap: 8vw;
}

.kda {
    font-weight: 500;
    text-shadow: 1px 1px 1px rgb(166, 166, 166);
    letter-spacing: 2px;
    transition: 0.2s;
    font-size: 2vw;
}

/* item stuff */
.usage-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    margin-top: 4vh;
}

.item-box {
    display: flex;
    gap: 1vw;
}

.spell-box {
    display: flex;
    gap: 1vw;
}

.item img,
.spell-box img {
    width: 5vw;
    border-radius: 10px;
    box-shadow: 1px 1px 10px -4px;
    transition: 0.2s;
    background-color: black;
}

.item-name {
    position: absolute;
    display: none;
    background-color: #ffffff;
    padding: 5px 8px;
    border-radius: 10px;

}

.chart-box {
    margin-top: 4vh;
}

.kda.chart-box {
    display: flex;
    justify-content: space-between;
}

.cs.chart-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.damage.chart-box {
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.chart-wrapper {
    width: 30vw;
    height: auto;
}

.minion,
.sword {
    width: 15vw;
}

/* champ page time */

.info {
    padding: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.full-name {
    color: white;
    font-size: 3vw;
    text-shadow: 1px 1px 2px white;
}

.box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.box-wrapper .item img,
.box-wrapper .spell-box img {
    box-shadow: 1px 1px 10px -4px white;
}

.info-icon {
    width: 20vw;
    box-shadow: 1px 1px 10px -4px white;
    border: none;
}

.box-title,
.number {
    color: white;
    font-size: 2vw;
    text-shadow: 1px 1px 2px white;
}

.numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.number-wrapper {
    display: flex;
    gap: 10vw;
}

.winrate-graph-wrapper {
    width: 80vw;
}

.rune-wrapper {
    display: flex;
    gap: 4vw;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.tree {
    width: 5vw;
}

.rune {
    width: 3.5vw;
}

.rune-box {
    position: absolute;
    padding: 5px 8px;
    background-color: white;
    color: black;
    display: none;
}