html {
    scroll-behavior: smooth ;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    background-color: gray;
    margin: 0;
}

.recall {
    position: absolute;
    margin: 0 auto;
}

.recall button {
    border: none;
    background: none;
}

.recall button img {
    border-radius: 100%;
    width: 5vw;
}

.champ-names {
    display: none;
    background-color: gray;
    position: absolute;
    width: 80vw;
    height: 30vh;
    overflow: auto;
    margin-top: 10px;
    box-shadow: 1px 1px 8px -2px;
}

.champ-name {
    color: black;
    display: none;
    width: 100%;
    height: 6vh;
    background-color: white;
    border: none;
}

.champ-name:hover {
    background-color: lightblue;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
::-webkit-scrollbar-track {
border: 1px solid rgb(120, 120, 120);
background-color: white;
}

::-webkit-scrollbar-thumb {
background: rgb(123, 206, 241);  
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #50cbf4;  
}

.random-match {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: hsl(192, 65%, 65%);
    color: white;
    border: none;
    transition: 0.1s;
}

.random-match:hover {
    background-color: hsl(192, 65%, 45%);
    color: rgb(185, 185, 185);
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 60%;
    height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

/* match.html stuff */
.no-side {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summoners-rift-map {
    height: 80vh;
    border-radius: 15px;
    box-shadow: 1px 1px 8px -2px;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.8)),
    url("https://images.contentstack.io/v3/assets/blt370612131b6e0756/bltd897c9a5cef63006/5f9367dacb9eba781f0846fc/LoL_WR_KV_Banner_1920x1080.jpg");
    background-size: cover;
    box-shadow: 0 2px 8px -2px;
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    padding: 0 4vw;
    height: 100vh;
}

.red.side {
    background: linear-gradient(rgba(115, 58, 58, 0.4), rgba(115, 58, 58, 0.4));
}

.blue.side {
    background: linear-gradient(rgba(58, 58, 115, 0.4), rgba(58, 58, 115, 0.4));
}

.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    width: 6vw;
}

.position-name {
    font-weight: 500;
    text-shadow: 1px 1px 1px rgb(166, 166, 166);
    letter-spacing: 2px;
    transition: 0.2s;
    color:rgb(153, 241, 241);
}

.red .position-name {
    color: rgb(247, 112, 89);
}

.champion_icons {
    width: 6vw;
    border: 2px solid rgb(188, 188, 188);
    border-radius: 100%;
    box-shadow: 1px 1px 10px -4px;
    transition: 0.2s;
}

@keyframes bulging_icon {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.player .champion_icons:hover {
    animation: bulging_icon 1.5s infinite;
    cursor: pointer;
    border-color: rgb(153, 241, 241);
}

.red .champion_icons:hover {
    border-color: rgb(247, 112, 89);
}

.player .champion_icons:hover + .username {
    color: rgb(153, 241, 241);
}

.red .champion_icons:hover + .username {
    color: rgb(247, 112, 89);
}

.active .champion_icons {
    border-color: rgb(153, 241, 241);
}

.active .champion_icons + .username {
    color: rgb(153, 241, 241);
}

.red .active .champion_icons {
    border-color: rgb(247, 112, 89);
}

.red .active .champion_icons + .username {
    color: rgb(247, 112, 89);
}

.username, .champion-name {
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(166, 166, 166);
    letter-spacing: 2px;
    transition: 0.2s;
}

/* player-data stuff */
.player-section {
    padding: 4vh 2vw;
}

.player-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}

.player-top .champion_icons {
    width: 8vw;
    border: none;
    border-radius: 10px;
    /* box-shadow: 1px 1px 10px -4px; */
    box-shadow: none;
    border: solid 2px rgba(188, 188, 188, 0);
}

.champion_icons:hover {
    animation: none;
    cursor: default;
    border: solid 2px rgb(188, 188, 188);
    cursor: pointer;
}

.kda-box {
    display: flex;
    gap: 8vw;
}

.kda {
    font-weight: 500;
    text-shadow: 1px 1px 1px rgb(166, 166, 166);
    letter-spacing: 2px;
    transition: 0.2s;
    font-size: 2vw;
}

/* item stuff */
.usage-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    margin-top: 4vh;
}

.item-box {
    display: flex;
    gap: 1vw
}

.spell-box {
    display: flex;
    gap: 1vw;
}

.item img,
.spell-box img {
    width: 5vw;
    border-radius: 10px;
    box-shadow: 1px 1px 10px -4px;
    transition: 0.2s;
}

.item-name {
    position: absolute;
    display: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
}

/* champ page time */
.champ-splash {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5));
    object-fit: cover;
}