<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{champ_name}} INFO</title>
  <link rel="stylesheet" href={{url_for('static', filename='css/style.css')}}>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="champ-splash" style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url({{champ_image}}); background-size: cover;"> 
  <form class="recall">
    <button formaction="/" style="cursor: pointer;"></button>
  </form>

  <div class="info">
    <img class="info-icon" src="https://raw.githubusercontent.com/InFinity54/LoL_DDragon/master/img/champion/tiles/{{champ_name}}_0.jpg">
    {% if champ_name == 'MonkeyKing' %}
    <div class="full-name">Wukong, {{champ_text[0]}}</div>
    {% else %}
    <div class="full-name"><b>{{champ_name}}</b>, {{champ_text[0]}}</div>
    {% endif %}
  </div>

  <div class="numbers">
    <div class="box-wrapper">
      <div class="box-title">Average Winrate</div>
      <div class="number winrate">{{round(champ_data['winRate'] + 0.00,2)}}</div>
    </div>
    <canvas class="winrate-graph"></canvas>
    <div class="box-wrapper">
      <div class="box-title">Average KDA</div>
      <div class="number kda">{{round((champ_data['kills']+champ_data['assists'])/champ_data['deaths'] + 0.00,2)}}</div>
    </div>
  </div>

  <div class="usage-box">
    <div class="box-wrapper">
      <div class="box-title">Most Summoner Spells</div>
      <div class="spell-box">
          <img src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/spell/{{spell_data[str(champ_data['commonSpell1'])]}}" alt="">
          <img src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/spell/{{spell_data[str(champ_data['commonSpell2'])]}}" alt="">
      </div>
    </div>

    <div class="box-wrapper">
      <div class="box-title">Most Common Items Built</div>
      <div class="item-box">
          {% for item_index in range(7) %}
          {% set item = 'item' + item_index|string %}
          {% if champ_data[item] != 0 %}
          <div class="item">
              <img src="{{convert_item_id(champ_data[item])[1]}}" alt="">
              <div class="item-name">{{convert_item_id(champ_data[item])[0]}}</div>
          </div>
          {% endif %}
          {% endfor %}
      </div>
    </div>
</div>
  
  <script>
    function convertVar(e) {
      return e;
    }
    const champ_data = convertVar({{champ_data | tojson}});
    const winrate_data = convertVar({{winrates | tojson}});
  </script>
  <script src={{url_for('static', filename='js/champ.js')}}></script>
  <!-- <script src={{url_for('static', filename='js/background.js')}}></script> -->
</body>
</html>