<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{champ_name}} INFO</title>
  <link rel="stylesheet" href={{url_for('static', filename='css/style.css')}}>
</head>

<body class="align-items-center"> 
  <form class="recall">
    <button formaction="/">
      <img src="https://static.wikia.nocookie.net/leagueoflegends/images/4/43/Recall.png/" alt="recall">
    </button>
  </form>

  <img class="champ-splash" src="{{champ_image}}" style="background-size: cover;">
    <img class="" src="https://raw.githubusercontent.com/InFinity54/LoL_DDragon/master/img/champion/tiles/{{champ_name}}_0.jpg" style=" border: 2px solid rgb(188, 188, 188); border-radius: 100%;">
    {% if champ_name == 'MonkeyKing' %}
    <div class="full-name">Wukong, {{champ_text[0]}}</div>
    {% else %}
    <div class="full-name">{{champ_name}}, {{champ_text[0]}}</div>
    {% endif %}
  </img>
  
  
  <script src={{url_for('static', filename='js/champ.js')}}></script>
  <!-- <script src={{url_for('static', filename='js/background.js')}}></script> -->
</body>
</html>