<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Walmart OPGG | Random Match</title>
    <link rel="stylesheet" href={{url_for('static', filename='css/style.css')}}>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <form class="recall">
        <button formaction="/">
            <img src="https://static.wikia.nocookie.net/leagueoflegends/images/4/43/Recall.png/" alt="recall">
        </button>
    </form>

    <div class="top-section">
        <div class="blue side">
            {% for blue_position_index in range(5) %}
            {% set blue_position = positions[0][blue_position_index] %}
            <div class="player {{blue_position}}">
                <div class="icon">
                    <img class="champion_icons" src="https://raw.githubusercontent.com/InFinity54/LoL_DDragon/master/img/champion/tiles/{{participant_data[blue_position]['championName']}}_0.jpg" alt="">
                    <div class="username">{{participant_data[blue_position]['summonerName']}}</div>
                </div>
                <div class="position-name">
                    {{position_names[blue_position_index]}}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="no-side">
            <img class="summoners-rift-map" src="https://map.riftkit.net/img/rift/normal.jpg" alt="summoner's rift">
        </div>
        <div class="red side">
            {% for red_position_index in range(5) %}
            {% set red_position = positions[1][red_position_index] %}
            <div class="player {{red_position}}">
                <div class="position-name">
                    {{position_names[red_position_index]}}
                </div>
                <div class="icon">
                    <img class="champion_icons" src="https://raw.githubusercontent.com/InFinity54/LoL_DDragon/master/img/champion/tiles/{{participant_data[red_position]['championName']}}_0.jpg" alt="">
                    <div class="username">{{participant_data[red_position]['summonerName']}}</div>
                </div>
            </div>
            {% endfor %}
        </div>  
    </div>

    <div class="player-section">
    {% for i in range(2) %}
        {% for position in positions[i] %}
        {% set current_participant_data = participant_data[position] %}
        <div class="player-data {{position}}">
            <div class="player-top">
                <div class="icon">
                    {% if current_participant_data['championName'] == 'MonkeyKing' %}
                    <div class="champion-name">Wukong</div>
                    {% else %}
                    <div class="champion-name">{{current_participant_data['championName']}}</div>
                    {% endif %}
                    <img class="champion_icons" src="https://raw.githubusercontent.com/InFinity54/LoL_DDragon/master/img/champion/tiles/{{participant_data[position]['championName']}}_0.jpg" alt="">
                    <div class="data username">{{current_participant_data['summonerName']}}</div>
                    
                </div>
                <div class="kda-box">
                    <div class="kda kills">{{current_participant_data['kills']}} kills</div>
                    <div class="kda deaths">{{current_participant_data['deaths']}} deaths</div>
                    <div class="kda assists">{{current_participant_data['assists']}} assists</div>
                </div>
            </div>

            <div class="usage-box">
                <div class="spell-box">
                    <img src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/spell/{{spell_data[str(current_participant_data['summoner1Id'])]}}" alt="">
                    <img src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/spell/{{spell_data[str(current_participant_data['summoner2Id'])]}}" alt="">
                </div>

                <div class="item-box">
                    {% for item_index in range(7) %}
                    {% set item = 'item' + item_index|string %}
                    {% if current_participant_data[item] != 0 %}
                    <div class="item">
                        <img src="{{convert_item_id(current_participant_data[item])[1]}}" alt="">
                        <div class="item-name">{{convert_item_id(current_participant_data[item])[0]}}</div>
                    </div>
                    {% else %}
                    <div class="item">
                        <img src="https://previews.123rf.com/images/greek/greek1603/greek160300025/54933102-square-transparent-background.jpg" alt="">
                        <div class="item-name">Empty</div>
                    </div>
                    {% endif %}

                    {% endfor %}
                </div>
            </div>
            <div class="kda-chart-box">
                <canvas class="kill chart"></canvas>
                <svg class="death chart"></svg>
                <svg class="assist chart"></svg>
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    </div>
    <script>
        function convertVar(e) {
            return e;
        }
        const positions = convertVar({{positions|tojson}});
    </script>
    <script src={{url_for('static', filename='js/match.js')}}></script>
</body>
</html>